#app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#app img {
  max-height: 80%;
  height: 100%;
  width: 50%;
}

#sim-title {
  font-size: 24px;
  text-align: center;
  color: #000f0c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  position: relative;
  top: -20px;
}
.absolute-button {
  padding: 10px 20px; /* Adjust padding */
  font-size: 16px; /* Update font size */
  font-family: 'Times New Roman', Times, serif; /* Same font as before */
  border-radius: 25px; /* Rounded corners for modern look */
  transition: all 0.3s ease-in-out; /* Smooth hover effect */
  top: -20px;
  position: relative;
  width: 200px;
}

.absolute-button:hover {
  background-color: #00988e; /* Custom hover background */
  color: white; /* White text on hover */
  transform: translateY(-10px); /* Slight upward motion */
}

.absolute-button:focus {
  box-shadow: 0 0 5px #00988e; /* Highlight border when focused */
}


@media (max-width: 768px) {
  #sim-title {
    font-size: 18px;
    /* Adjusted font size */
  }

  .absolute-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #sim-title {
    font-size: 16px;
    /* Reduced font size */
  }

  .absolute-button {
    padding: 8px 16px;
    font-size: 12px;
  }
}